<!DOCTYPE html>
<html>
	<head>
		<title>Saboteadores en Linea</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="css/Plantilla-Practica1.css"/>
	</head>

	<body>
		<div class="logo"> 

			<a title="titulo" href="HTML_Bienvenido-Practica1.html"><img src="img/Logo.png" alt="titulo"></a>
			
			<div class="texto">
				<p class="conectado">No estás conectado</p>
			</div>


		</div>

		<div class="menu">	
				
				<ul class="lista">
					
					<li>
					
						<a href="HTML_Login-Practica1.html"> LOGIN </a>
					
					</li>
					
					<li>
					
						<a href="HTML_NuevoUsuario-Practica1.html"> NUEVO USUARIO </a>
					
					</li>
				
				</ul></div>

		<div class="contenido">
                    
                        <%if(correcto) { %>
                        <p class="correcto">El usuario <%= usuario%> se ha creado correctamente </p>
                        <% } %>

			<h1>Bienvenido!</h1>
			
			<p>Puedes identifiarte o crear una nuevo cuenta de usuario</p>

		</div>


	</body>
</html>