td, th{
	border: 1px solid black;
	padding: 2px 14px;
}

th{
	color: white;
	background-color: #af0101;
}

td{
	padding-top: 5px;
	padding-bottom: 5px;
}

table{
	border-collapse: collapse;
}